@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/cinzel.bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TacticSans';
  src: url('/fonts/TacticSans-Bld.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
